{% extends '::base.html.twig' %}

    {% block contenido -%}
        <div class="panel panel-primary">
        <div class="panel-heading">
            CLUB


        </div>
        <div class="panel-body">
        <h1>IPSM - Declaracion del Empleador de Jubilaciones y Obra Social</h1>
        <h2>INTRODUCCION</h2>



        <h3>Procedimiento</h3>

        <p>La obligación de información de datos de liquidación de haberes, aportes y contribuciones que tienen las
            Organizaciones con trabajadores en relacion de dependencia que aporten a la Obra Social y/o Caja de
            Jubilaciones del
            IPSM, establecidas en la Ley 568 articulos 17 y 19, debera cumplimentarse atendiendo a los requisitos,
            formas,
            plazos y condiciones que se establecen en el presente instructivo.</p>

        <p>A los fines dispuestos en el parrafo anterior los Empleadores deberan presentar una declaracion de aportes y
            contribuciones por cada liquidacion de haberes, dentro de los 15 días de su devengamiento o pago, el que se
            realice
            primero. La presentacion de la Declaracion se realizara por medio del formulario <code>DEJOS-01</code> (por
            duplicado) que se emite utilizando el sistema de computacion <code>IPSM-DEJOS</code>, adjuntando el o los
            diskette
            de 3,5 HD que con la misma aplicacion se generan conteniendo los archivos de la informacion requerida. El
            diskette
            de presentación debera tener un rotulo externo donde se indicara el numero asignado en Cuentas Corrientes de
            aportes
            (Tabla I), denominacion de la organizacion, periodo, numero de liquidacion en el periodo y tipo de
            presentacion
            (original o numero de rectificativa).</p>


        <ul>
            <li>
                <p>IPSM-DEJOS </p>
            </li>
            <li>
                <p>Nro. Empleador: </p>
            </li>
            <li>
                <p>Denominacion: </p>
            </li>
            <li>
                <p>Periodo: </p>
            </li>
            <li>
                <p>Presentacion:</p>
            </li>
        </ul>


        <p>Los tesoreros o personas que cumplan funciones de tales bajo su responsabilidad personal (Art 19, Ley 568),
            enviaran
            la declaracion a la dependencia receptora, Direccion de Cuentas Corrientes de Aportes del IPSM, calle Jujuy
            esq.
            Cordoba - Posadas, o Delegacion del IPSM, quien acusara recibo - con caracter provisional - de la
            presentacion,
            devolviendo una copia del formulario debidamente intervenido.</p>

        <p>El IPSM procedera a rechazar la presentacion cuando:</p>


        <ul>
            <li>
                <p>Las especificaciones tecnicas no se ajusten a lo establecido.</p>
            </li>
            <li>
                <p>No se individualice el caracter de la presentacion (original o reificativa), o la secuencia de la
                    misma sea
                    incorrecta.</p>
            </li>
            <li>
                <p>El resultado del procesamiento de la informacion no se condiga con el formulario presentado, arroje
                    inconsistencia o errores de validacion de los datos o el soporte este dañado.<br>
                </p>
            </li>
        </ul>


        <p>En caso de rechazo, se procedera a su notificacion, dentro de un plazo de 10 dias de la presentacion.</p>

        <p>El soporte magnetico presentado y la constancia de su proceso satisfactorio quedara disponible para su retiro
            en la
            Dependencia donde se haya entregado el mismo, dentro de un plazo de 10 dias de la presentacion.</p>

        <p>La devolucion del soporte magnetico aceptado no significa que el IPSM conforme la informacion contenida en el
            mismo,
            pues esta quedara sujeta a las verificaciones administrativas que podra efectuar el Organismo.</p>

        <p>A los efectos de cumplimentar el pago de los aportes y contribuciones declaradas, los empleadores deberan
            concurrir a
            institucion bancaria habilitada, con el formulario de declaracion jurada DEJOS-01 por cuadruplicado, que se
            emite
            por el sistema de computacion, cargando previamente el monto que ingresa. La institucion bancaria entregara
            una
            copia del formulario, debidamente intervenido, acreditando el cumplimiento del pago.</p>

        <p>En el supuesto de detectarse errores en la informacion contenida en la presentacion, correspondera rectificar
            la
            misma, debiendo contener la nueva presentacion el total de la informacion de la liquidacion, aun aquellos
            datos que
            no sufran modificacion alguna respecto de la presentacion original o rectificativa anterior.</p>

        <p>Si luego de realizado el pago de la declaracion, se hiciera una rectificativa, ese pago debera ingresarse
            como
            "Credito a favor". Si en el "Total a pagar" resulta un saldo credito para el empleador, ese importe podra
            tomarse en
            una proxima presentacion.</p>

        <h2>Sistema IPSM-DEJOS - Declaracion del Empleador de Jubilaciones y Obra Social</h2>

        <p>La generacion de las declaraciones juradas que los empleadores deberan presentar, se realizara mediante un
            proceso
            computarizado, que comprende desde el ingreso de los datos de la liquidacion de haberes hasta la produccion
            del
            soporte magnetico y el correspondiente formulario integrado de declaracion jurada y de pago.</p>

        <p>Las funciones fundamentales que maneja el sistema de aplicacion son:</p>


        <ol>
            <li>
                <p>Información</p>
                <ol>
                    <li>
                        <p>Instrucciones de Uso</p>
                    </li>
                    <li>
                        <p>Visualización de Errores</p>
                    </li>
                    <li>
                        <p>Resguardo</p>
                    </li>
                    <li>
                        <p>Restauración</p>
                    </li>
                    <li>
                        <p>Reorganización</p>
                    </li>
                    <li>
                        <p>Compactacón</p>
                    </li>
                </ol>
            </li>
            <li>
                <p>Personalizacion</p>
                <ol>
                    <li>
                        <p>Denominacion del empleador</p>
                    </li>
                    <li>
                        <p>Lugares de pago</p>
                    </li>
                    <li>
                        <p>Porcentajes por regimen de aportes y contribuciones</p>
                    </li>
                    <li>
                        <p>Conceptos de haberes</p>
                    </li>
                </ol>
            </li>
            <li>
                <p>Liquidaciones: ademas de la carga de datos propios, permite las opciones de:</p>
                <ol>
                    <li>
                        <p>Proceso de datos de los trabajadores</p>
                    </li>
                    <li>
                        <p>Emision del formulario de presentacion y pago</p>
                    </li>
                    <li>
                        <p>Generacion del soporte magnetico</p>
                    </li>
                    <li>
                        <p>Impresion detallada por trabajador de la liquidacion.</p>
                    </li>
                </ol>
            </li>
            <li>
                <p>Trabajadores: Mantiene una base de datos de haberes de trabajadores de la organizacion donde se
                    conservan los
                    datos de cada liquidacion.</p>
            </li>
            <li>
                <p>Importacion de datos de trabajadores.</p>
                <ol>
                    <li>
                        <p>Desde un archivo ASCII externo tipo TXT</p>
                    </li>
                    <li>
                        <p>Desde un archivo ASCII externo tipo DBF</p>
                    </li>
                    <li>
                        <p>Desde datos de la base correspondiente a una liquidacion anterior.</p>
                    </li>
                </ol>
            </li>
        </ol>

        <p>Los requerimientos de hardware y software son:</p>
        <ol>
            <li>
                <p>PC AT 386 o superior con monitor VGA.</p>
            </li>
            <li>
                <p>Espacio disponible en disco rigido de 10 Mbytes o superior dependiendo de la cantidad de trabajadores
                    de la
                    organizacion.</p>
            </li>
            <li>
                <p>Sistema operativo DOS version 3.1 o superior.</p>
            </li>
            <li>
                <p>Unidad de diskette de 3,5 HD (1,44 Mbytes).</p>
            </li>
            <li>
                <p>Memoria RAM 2 Mbytes o superior.</p>
            </li>
            <li>
                <p>Impresora</p>
            </li>
        </ol>


        <p>La informacion por trabajador, identificado por su numero de documento (DNI, LE o LC), se utilizara para
            mantener
            actualizado el padron de afiliados a la Obra Social del IPSM, donde deberan figurar sus aportes al dia para
            la
            autorizacion asistencial que requiera, y mantener un registro historico de haberes percibidos, que serviran
            de base
            para el otorgamiento de los beneficios jubilatorios.</p>

        <p>El cumplimiento de las finalidades mencionadas dependera de los datos que se declaren, por lo que es
            recomendable
            verificar todos y cada uno de los datos antes de su presentacion.</p>

        <p>A los fines de una correcta interpretacion de los codigos de conceptos de haberes utilizados en cada
            organizacion,
            para su utilizacion en la determinacion de los haberes y movilidades jubilatorias, el IPSM podra solicitar
            al
            empleador informacion adicional, como ser escalas de liquidacion, forma de calculo de conceptos, etc.</p>

        </div>

        </div>
        {#{% block stylesheets %}#}
            {#<link rel="stylesheet" href="{{ asset("bundles/larabmgenerador/css/laradmin.css") }}">#}
        {#{% endblock %}#}

    {% endblock contenido %}
